<script>
  var templateName = 'new_request';
</script>

<div class="new-request container section">
  <h1>
    Submit a Request
  </h1>

  <div class="form">
    {{request_form wysiwyg=true}}
  </div>
</div>